<div class="signup-form">
  <div class="signupPart content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal text-center"}) do |f| %>
            <%= hidden_field_tag :invite_token, nil %>
            <%= hidden_field_tag :ref_code, nil %>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true, "data-toggle" => "tooltip", title: resource.errors.messages[:first_name].try(:first)%>
                <img src="/icons/name.png" alt="title"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", "data-toggle" => "tooltip", title: resource.errors.messages[:last_name].try(:first) %>
                <img src="/icons/name.png" alt="title"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.email_field :email, class: "form-control", placeholder: "Email", "data-toggle" => "tooltip", title: resource.errors.messages[:email].try(:first) %>
                <img src="/icons/mail.png" alt="title"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", "data-toggle" => "tooltip", title: resource.errors.messages[:password].try(:first) %>
                <img src="/icons/password.png" alt="title"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation", "data-toggle" => "tooltip", title: resource.errors.messages[:password_confirmation].try(:first) %>
                <img src="/icons/passwordconfirm.png" alt="title"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div align="center">
                  <%= recaptcha_tags %>
                </div>
                <p style="color: red"><%= resource.errors.messages[:recaptcha_error].try(:first) %></p>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-ms text-uppercase btn-mc deviseBtn" id="btnSignupDevise" type="submit" value="sign up">sign up</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  // Set cookie invite token value
  <% if @token.present? %>
    document.cookie="_refToken=<%= @token %>";
  <% end %>

  // Set invite token value
  var ref_token = getCookie('_refToken');
  if (ref_token != null) {
    document.getElementById("invite_token").setAttribute('value', ref_token);
  }

  // Set refCode value
  var ref_code = getCookie('_refcode');
  if (ref_code != null) {
    document.getElementById("ref_code").setAttribute('value', ref_code);
  }

  // Get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
  }
</script>
