<footer class="footer">
  <div class="container">
    <%= image_tag("footerLogo.png", id: "footerLogo") %>
    <%= image_tag("backtotopBtn.png", id: "backtopBtn") %>
    <div class="footerRight">
      <div>
        <%= image_tag("fb.png") %>
        <%= image_tag("twitter.png") %>
        <%= image_tag("linked.png") %>
        <%= image_tag("youtube.png") %>
        <%= image_tag("rss.png") %>
      </div>
      <p>&copy; 2015 Copyright by MortgageClub</p>
    </div>
  </div>
</footer>