<% if current_user %>
<div class="header clearfix">
  <nav class="navbar navbar-default mortgage-nav borderless shadow-bottom">
  <% else %>
  <div class="header clearfix  margin-bottom-60">
    <nav class="navbar navbar-default mortgage-nav navbar-fixed-top borderless shadow-bottom ">
      <% end %>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links-home" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><%= image_tag asset_path("mortgageclubLOGO.png")%></a>
        </div>
        <div class="collapse navbar-collapse borderless" id="links-home">
          <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="newLoanBtn" class="btn btn-ms text-uppercase">

                  <span class="glyphicon glyphicon-plus-sign"></span>
                  new loan

              </a>
            </li>
            <% is_active_loans_menu = 'active-loans' if controller.controller_name == 'loans' %>
            <li>
              <%= link_to my_loans_path, class: "btn btn-ms text-uppercase #{is_active_loans_menu}", id: "loanBtn" do %>
              <%= image_tag asset_path("/icons/loanBtn.png"), id: "loanBtnImg" %>
              Loans
              <% end %>
            </li>
            <li class="hidden-xs">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" id="accountBtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span>
                    <img id="accountBtnImg" src="/icons/userBtn.png" atl="account"></img>
                  </span>
                  <span><%= current_user.first_name %></span>
                  <span>
                    <img class="dropdownArrow" src="/icons/dropdownArrow.png" alt="arrow"/>
                  </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="accountBtn">
                  <li><%= link_to "My Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                </ul>
              </div>
            </li>
            <li class="visible-xs"><%= link_to "My Profile", edit_user_registration_path,class: "btn btn-ms text-uppercase btn-menu-mobile" %></li>
            <li class="visible-xs"><%= link_to "Log Out", destroy_user_session_path, method: :delete,class: "btn btn-ms text-uppercase btn-menu-mobile" %>
          </ul>
        <% else %>
          <ul class="nav nav-pills navbar-right">
            <li>
              <%= link_to "Find my rates", initial_quotes_path, class: "btn btn-ms btn-mc text-uppercase", id: "findMyRateBtn"%>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "btn btn-ms text-uppercase", id: "login-btn" do %>
              <%= image_tag image_path("loginICON.png"), id: "login-img" %>Log in
              <% end %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
