<div class="container clearfix how-part-new">
  <div class="heading-block center">
    <h2>How it works</h2>
    <br>
  </div>
  <div class="row hidden-xs">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_2.jpg' %>" alt="Step 1">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block">
        <h3>Shop</h3>
      </div>
      <p>
        Get an instant rate quote. No credit check required.
      </p>
    </div>
  </div>

  <div class="row visible-xs">
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block">
        <h3>Shop</h3>
      </div>
      <p>
        Get an instant rate quote. No credit check required.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_2.jpg' %>" alt="Step 1">
    </div>
  </div>

  <div class="row">
    <div class="col_two_third bottommargin-sm">
      <div class="heading-block">
        <h3>Apply</h3>
      </div>
      <p>
        Fill out an online application in 10 minutes. It’s that easy.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm col_last center">
      <img data-animate="fadeInRight" src="<%= asset_path 'HowItWorks_Step_1.jpg' %>" alt="Step 2">
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_3.jpg' %>" alt="Step 3">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block">
        <h3>Underwrite</h3>
      </div>
      <p>
        Get status updates from your Borrower Dashboard as we review and submit your loan package.
      </p>
    </div>
  </div>

  <div class="row visible-xs">
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block">
        <h3>Underwrite</h3>
      </div>
      <p>
        Get status updates from your Borrower Dashboard as we review and submit your loan package.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_3.jpg' %>" alt="Step 3">
    </div>
  </div>

  <div class="row bottommargin">
    <div class="col_two_third bottommargin-sm">
      <div class="heading-block">
        <h3>Close</h3>
      </div>
      <p>
        By replacing complex processes with powerful software, we ensure a fast, smooth closing.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm center col_last">
      <img data-animate="fadeInRight" src="<%= asset_path 'how-footer-pic.png' %>" alt="Step 4">
    </div>
  </div>
</div>
