<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
	<div class="slider-parallax-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark" style="background-image: url('<%= asset_path "slider/1.jpg" %>');">
					<div class="container clearfix">
						<div id="first-slider" class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp" class="hidden-xs">LOWEST RATES AND FAST CLOSING</h2>
							<h2 data-caption-animate="fadeInUp" class="visible-xs">LOWEST RATES & FAST CLOSING</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Find rates from the top lenders in under 10 seconds. Lowest rates guaranteed!</p>
							<p id="btn-find-my-rates" data-caption-animate="fadeInUp" data-caption-delay="300">
								<%= link_to(initial_quotes_path, class: "button button-border button-white button-light button-large button-rounded tright nomargin", role: "button", id: "apply-btn") do %>
								Find my rates
								<% end %>
							</p>
							<div data-caption-animate="fadeInUp" data-caption-delay="400">
								<p>(It’s easy, No SSN Required)</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">100% ONLINE PROCESS</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">
								Mortgages made easy. Apply and view your dashboard from anywhere, on any device.
							</p>
						</div>
					</div>
					<div class="video-wrap">
						<video id="slide-video" poster="<%= asset_path "slider/deskwork.jpg" %>" preload="auto" loop autoplay muted>
							<source src='<%= asset_path "slider/deskwork.webm" %>' type='video/webm' />
							<source src='<%= asset_path "slider/deskwork.mp4" %>' type='video/mp4' />
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>

				<div class="swiper-slide" style="background-image: url('<%= asset_path "slider/3.jpg" %>'); background-position: center top;">
					<div class="container clearfix">
						<div class="slider-caption">
							<h2 data-caption-animate="fadeInUp">RATE SHOPPING</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Let our True Cost of Mortgage Algorithm guide you to the best loan.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
		</div>
		<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
	</div>
</section>
