
    <div class="container clearfix">
      <div class="heading-block center">
        <h2>Why Us?</h2>
        <br>

      </div>

      <div class="col_half">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why1.png") %>
            </a>
          </div>
          <h3>Lowest Rate Guaranteed</h3>
          <p>We guarantee our rate is the lowest one for your mortgage scenario or we’ll send you a $200 gift card.</p>
        </div>
      </div>

      <div class="col_half col_last">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why2.png") %>
            </a>
          </div>
          <h3>Save Time</h3>
          <p>By leveraging our technology, you can complete the loan application online in 10 mins and close your loan in 15 days.</p>
        </div>
      </div>
      <div class="clear"></div>

      <div class="col_half ">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why3.png") %>
            </a>
          </div>
          <h3>Transparent</h3>
          <p>We provide an application dashboard so you can see what’s going on behind the scenes in real-time.</p>
        </div>
      </div>


      <div class="col_half nobottommargin col_last">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why4.png") %>
            </a>
          </div>
          <h3>Personal Advice</h3>
          <p>Your Mortgage Advisor is compensated by salary and bonus based on customer satisfaction to remove commission bias.</p>
        </div>
      </div>
      <div class="clear"></div>

      <div class="col_half nobottommargin">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why5.png") %>
            </a>
          </div>
          <h3>100% Secured</h3>
          <p>You can be assured that we employ the highest level of security to protect your private information.</p>
        </div>
      </div>

      <div class="col_half nobottommargin col_last">
        <div class="feature-box fbox-border fbox-effect">
          <div class="fbox-icon">
            <a href="#">
              <%= image_tag("why6.png") %>
            </a>
          </div>
          <h3>Always Select The Best Mortgage</h3>
          <p>Our team of finance and engineer geeks has developed a proprietary Trust Cost of Mortgage algorithm to help you select the best mortgage.</p>
        </div>
      </div>

      <div class="clear"></div>

    </div>
