<%= render "/shared/slider" %>
<section id="content">
  <div class="content-wrap">
    <%= render "/shared/investors" %>
    <%= render "/shared/hello" %>
    <%= render "/shared/why_us" %>
    <%= render "/shared/how" %>
    <%= render "/shared/client" %>
  </div>
</section>