<div class="homepage">
  <div class="header clearfix">
    <div class="container">
      <nav class="navbar navbar-default mortgageNav">
        <div class="navbar-header">
        <a class="navbar-brand logo" href="#">
          <%= image_tag("mortgageclubLOGO.png") %>
        </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links-home" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse mortgageNav" id="links-home">
          <ul class="nav nav-pills navbar-right">
            <% if Rails.env.production? %>
              <li><a id="signupBtn" class="btn btn-ms theBtn text-uppercase" href="http://www.mortgageclub.io/loans/cd70d96b-3902-44dd-a840-9ef762aa96a2/edit" role="button">Find my rate</a></li>
            <% else %>
              <li>
                <a id="loginBtn" class="btn btn-ms btn-success theBtn" href="/login" role="button">
                  <%= image_tag("loginICON.png", id: "loginImg") %>
                  Log in
                </a>
              </li>
              <li><a id="signupBtn" class="btn btn-ms theBtn text-uppercase" href="/signup" role="button">Find my rate</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="content homePart">

    <div class="container">
      <div class="row">
        <div id="home-left" class="col-md-6">
          <div id="home-left-header"><h1>Always save time and money on your mortgage</h1></div>
          <p class="lead">Mortgage Club is the first real-time mortgage marketplace where you can easily apply, shop, and lock in the best loan in 10 mins. Lowest rate guaranteed from over 50 partner lenders on our platform.</p>
          <% if Rails.env.production? %>
            <a id="applyBtn" class="btn btn-lg theBtn text-uppercase col-md-offset-4" href="http://www.mortgageclub.io/loans/cd70d96b-3902-44dd-a840-9ef762aa96a2/edit" role="button">find my rate</a>
          <% else %>
            <a id="applyBtn" class="btn btn-lg theBtn text-uppercase col-md-offset-4" href="/signup" role="button">find my rate</a>
          <% end %>
        </div>

        <div id="home-right" class="col-md-6 rates">
          <div id="home-right-header">
            <h1 class="text-uppercase">
              MORTGAGE RATES
              <%= image_tag("info.png", class: 'info-button', "data-toggle" => "tooltip", "data-placement" => "right", title:"We haven’t launched yet but if we were live today, we’d offer these rates. Rates are displayed in APRs which reflect interest rate as well as broker fees, discount points and some closing costs. BTW, our competitors’ rates are real too!") %>
            </h1>
            <p class="">(as of <%= @last_updated %>)</p>
          </div>

          <table class="table homeTable">
            <tr class="table-header">
              <td>Programs</td><td>Mortgage Club</td><td>Wells Fargo</td><td>Quicken Loans</td>
            </tr>
            <tr>
              <td>30 Year Fixed<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['zillow']['apr_30_year']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['wells_fargo']['apr_30_year']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['quicken_loans']['apr_30_year']) %>%<hr/></td>
            </tr>
            <tr>
              <td>15 Year Fixed<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['zillow']['apr_15_year']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['wells_fargo']['apr_15_year']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['quicken_loans']['apr_15_year']) %>%<hr/></td>
            </tr>
            <tr>
              <td>5/1 Libor ARM<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['zillow']['apr_5_libor']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['wells_fargo']['apr_5_libor']) %>%<hr/></td>
              <td><%= sprintf('%.3f', @mortgage_aprs['quicken_loans']['apr_5_libor']) %>%<hr/></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="home-footer content">
    <hr/>
    <div class="container">
        <div class="row header-logos">
          <div class="col-md-3 col-sm-12 col-xs-12 header-logo asseen"><div class="text-uppercase">as seen in</div></div>
          <div class="col-md-2 col-sm-6 col-xs-12 header-logo">
            <%= image_tag("fortune.jpg") %>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12  header-logo">
            <%= image_tag("azcentral.jpg") %>
          </div>
          <div class="col-md-3 col-sm-7 col-xs-12 header-logo">
            <%= image_tag("wallstreet.jpg") %>
          </div>
          <div class="col-md-2 col-sm-5 col-xs-12 header-logo">
            <%= image_tag("recode.jpg") %>
          </div>
        </div>
    </div>
    <hr/>
  </div>

  <div class="container">
    <h1 class="text-uppercase text-center">hello, we&#39;re <span class="logo-text">mortgage<span>club</span></span></h1>
    <h6 class="note">MortgageClub leverages big data and advanced technology to replace your loan officer and pass on the savings to you.</h6>

    <div id="home-top-info">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 textBubble">
          <div class="row">
            <div id="top-info" class="col-md-12">
              Total savings of $37,893 over 30 years.
            </div>
          </div>
          <div class="row">
            <div id="left-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>MortgageClub</h6>
              <p>3.75% rate (3.825% APR)</p>
              <p>$800 lender fees</p>
              <p>$1,200 lender credit</p>
            </div>
            <div id="right-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>Wells Fargo</h6>
              <p>3.825% rate (3.93% APR)</p>
              <p>$1,400 lender fees</p>
              <p>$0 lender credit</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row homePicRow">
        <div class="col-md-4 hidden-sm hidden-xs noPadding">
          <%= image_tag("home-top-pic-left.jpg", width: "100%") %>
        </div>
        <div class="col-md-4 noPadding">
          <%= image_tag("home-top-pic-centre.jpg", width: "100%") %>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs noPadding">
          <%= image_tag("home-top-pic-right.jpg", width: "100%") %>
        </div>
      </div>
    </div>
    </div>

    <div class="content whyPart">
    <div class="container">
      <h1 class="text-uppercase white-header">Why us?</h1>
      <div class="row">
        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why1.png") %>
          <div class="bigNum">1</div>
          <div class="whyText">
            <h6>Lowest Rate Guaranteed</h6>
            <p>We guarantee our rate is the lowest one for your mortgage scenario or we’ll send you a $200 gift card.</p>
          </div>
        </div>

        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why2.png") %>
          <div class="bigNum">2</div>
          <div class="whyText">
            <h6>Save Time</h6>
            <p>By leveraging our technology, you can complete the loan application online in 10 mins and close your loan in 15.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why3.png") %>
          <div class="bigNum">3</div>
          <div class="whyText">
            <h6>Transparent</h6>
            <p>We provide an application dashboard so you can see what’s going on behind the scenes in real-time.</p>
          </div>
        </div>

        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why4.png") %>
          <div class="bigNum">4</div>
          <div class="whyText">
            <h6>Personal Advice</h6>
            <p>Your Relationship Manager  is compensated by salary and bonus based on customer satisfaction to remove commission bias.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why5.png") %>
          <div class="bigNum">5</div>
          <div class="whyText">
            <h6>100% Secured</h6>
            <p>You can be assured that we employ the highest level of security to protect your private information.</p>
          </div>
        </div>

        <div class="col-lg-6 clearfix whyItem">
          <%= image_tag("why6.png") %>
          <div class="bigNum">6</div>
          <div class="whyText">
            <h6>Always Select The Best Loan</h6>
            <p>We’ve developed proprietary selection algorithms that take into account your tax rate, investment rate of return, and mortgage duration.</p>
          </div>
        </div>
      </div>
      </div>
  </div>

  <div class="content howPart">
    <div class="container">
      <h1 class="text-uppercase how-header">how it works</h1>
      <div class="row">
        <div class="col-md-6 clearfix howItem">
          <div class="bigNum">1</div>
          <div class="whyText">
            <h6>Apply</h6>
            <p>Spend 10 mins to give us your info, upload your documents, and we handle the rest. Our proprietarya technology can extract data from your documents and public records to minimize manual data entry.</p>
          </div>
        </div>

        <div class="col-md-6 clearfix howItem">
          <%= image_tag("how1.jpg") %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 clearfix col-md-push-6 howItem">
          <div class="bigNum">2</div>
          <div class="whyText">
            <h6>Shop</h6>
            <p>Based on your info, we’ll show you the loan programs that you qualify for from over 50 lenders on our platform. Our algorithms can recommend the best loan for you and help you lock in the rate immediately. Lowest rate guaranteed, the rate you see is the rate you get.</p>
          </div>
        </div>
        <div class="col-md-6 clearfix col-md-pull-6 howItem">
          <%= image_tag("how2.jpg") %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 clearfix howItem">
          <div class="bigNum">3</div>
          <div class="whyText">
            <h6>Approve</h6>
            <p>We work with our partner lender to underwrite your loan application. This process includes an appraisal of your home and verification of your information. You can see what’s going on behind the scenes from your application dashboard in real-time.</p>
          </div>
        </div>

        <div class="col-md-6 clearfix howItem">
          <%= image_tag("how3.jpg") %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 clearfix col-md-push-6 howItem">
          <div class="bigNum">4</div>
          <div class="whyText">
            <h6>Close</h6>
            <p>Mortgage Club replaces manual processes and complicated paperwork with powerful software that cuts costs and reduces processing times. We can close your loan as fast as 15 days. We’ll work closely with escrow, title, and other parties to ensure you have a smooth closing.</p>
          </div>
        </div>
        <div class="col-md-6 clearfix col-md-pull-6 howItem">
          <%= image_tag("howFooterPic.png") %>
        </div>
      </div>
    </div>
    <div id="howFooter"></div>
    </div>

  <div class="content clientPart">
    <div class="container">
      <h1 class="text-uppercase client-header">meet our clients</h1>
      <h6 class="note">We work hard to provide our clients a painless mortgage experience and help them save time and money. </h6>

      <div class="clients row">
        <div class="client col-md-4 col-sm-4 col-xs-12 clearfix">
          <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ipsum iaculis est aliquet sodaasles.”</p>
          <%= image_tag("client1.jpg") %>
          <h4>Gus M.</h4>
          <h6>Tuscon, AZ</h6>
        </div>

        <div class="client col-md-4 col-sm-4 col-xs-12 clearfix">
          <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ipsum iaculis est aliquet sodaasles.”</p>
          <%= image_tag("client2.jpg") %>
          <h4>Jeffrey B.</h4>
          <h6>Las Vegas, NY</h6>
        </div>

        <div class="client col-md-4 col-sm-4 col-xs-12 clearfix">
          <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ipsum iaculis est aliquet sodaasles.”</p>
          <%= image_tag("client3.jpg") %>
          <h4>Michael L.</h4>
          <h6>Phoenix, AZ</h6>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer content">
    <div class="container">
      <%= image_tag("footerLogo.png", id: "footerLogo") %>
      <%= image_tag("backtotopBtn.png", id: "backtopBtn") %>
      <div class="footerRight">
        <div>
          <%= image_tag("fb.png") %>
          <%= image_tag("twitter.png") %>
          <%= image_tag("linked.png") %>
          <%= image_tag("youtube.png") %>
          <%= image_tag("rss.png") %>
        </div>
        <p>&copy; 2015 Copyright by MortageClub</p>
      </div>
    </div>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    var elevator = new Elevator({
    element: document.querySelector('#backtopBtn'),
    duration:2000,
    });

    $('[data-toggle="tooltip"]').tooltip();
  })
</script>