<div class="container">
  <p>Current mortgage balance: <%= @data[:current_mortgage_balance] %></p>
  <p>Current monthly payment: <%= @data[:current_monthly_payment] %></p>
  <h2>Lower rate refinance</h2>
  <p>new monthly payment: <%= @data[:new_monthly_payment] %></p>
  <p>net closing costs: <%= @data[:net_closing_costs] %></p>
  <p>savings in 1 year: <%= @data[:savings_1_year] %></p>
  <p>savings in 3 years: <%= @data[:savings_3_years] %></p>
  <p>savings in 10 years: <%= @data[:savings_10_years] %></p>
  <h2>Cash Out Refinance</h2>
  <p>cash out: <%= @data[:cash_out] %></p>
  <p>net closing costs: <%= @data[:net_closing_costs] %></p>
  <p>new monthly payment: <%= @data[:monthly_payment_for_cash_out] %></p>
</div>
