<p>Hi,</p>

<p>
  <p>
  Great news, a user has signed up for Rate Alert from our <%= @source %>.
</p>
<p>
  Email:      <b><%= @sign_up_info[:email] %></b><br>
  Name:       <b><%= @sign_up_info[:name] %></b>
</p>
<p>
  Chat transcript:
</p>


<p>
  <b>
    <i>
      Hello, I can help you get a rate quote in 10 secs. To get started, please tell whether this is a purchase or refinance loan.
    </i>
  </b>
  <br>
  <%= @sign_up_info[:purpose] %>
</p>
<br>

<p>
  <b>
    <i>
      Great, what's your ZIP code?
    </i>
  </b>
  <br>
  <%= @sign_up_info[:zipcode] %>
</p>
<br>

<% if @sign_up_info[:purpose] == "refinance" %>
  <p>
    <b>
      <i>
        Awesome, how about estimated current value? (Hint: use Zillow estimate)
      </i>
    </b>
    <br>
    <%= @sign_up_info[:property_value] %>
  </p>
  <br>
<% else %>

  <p>
    <b>
      <i>
        Awesome, how about purchase price?
      </i>
    </b>
    <br>
    <%= @sign_up_info[:property_value] %>
  </p>
  <br>
<% end %>


<% if @sign_up_info[:purpose] == "refinance" %>
  <p>
    <b>
      <i>
        Current mortgage balance?
      </i>
    </b>
    <br>
    <%= @sign_up_info[:mortgage_balance] %>
  </p>
  <br>
<% else %>
  <p>
    <b>
      <i>
        Down payment?
      </i>
    </b>
    <br>
    <%= @sign_up_info[:down_payment] %>
  </p>
  <br>
<% end %>
<p>
  <b>
    <i>
      Excellent, is this a primary residence, vacation home, or rental property?
    </i>
  </b>
  <br>
  <%= @sign_up_info[:usage] %>
</p>
<br>
<p>
  <b>
    <i>
      What's your credit score?
    </i>
  </b>
  <br>
  <%= @sign_up_info[:credit_score] %>
</p>

<p>Thank you, <br/>
The MortgageClub Team
</p>