<p>Hello <%= @rate_alert_user[:first_name].capitalize %>,<br/>
Good news, mortgage rates for your scenario have dropped.</p>

<p>Today's rates (as of 9am PST):<br/>
30 year fixed: <%= @new_graph[:year30][:rate] %>% rate, <%= @new_graph[:year30][:lender_credit] %> <%= @new_graph[:year30][:label] %><br/>
15 year fixed: <%= @new_graph[:year15][:rate] %>% rate, <%= @new_graph[:year15][:lender_credit] %> <%= @new_graph[:year15][:label] %><br/>
5 year ARM: <%= @new_graph[:arm51][:rate] %>% rate, <%= @new_graph[:arm51][:lender_credit] %> <%= @new_graph[:arm51][:label] %><br/>
7 year ARM: <%= @new_graph[:arm71][:rate] %>% rate, <%= @new_graph[:arm71][:lender_credit] %> <%= @new_graph[:arm71][:label] %> </p>

<p>Original rates (as of <%= @rate_alert_user.created_at.to_date %>)<br/>
30 year fixed: <%= @pre_graph[:year30][:rate] %>% rate, <%= @pre_graph[:year30][:lender_credit] %>  <%= @pre_graph[:year30][:label] %><br/>
15 year fixed: <%= @pre_graph[:year15][:rate] %>% rate, <%= @pre_graph[:year15][:lender_credit] %> <%= @pre_graph[:year15][:label] %><br/>
5 year ARM: <%= @pre_graph[:arm51][:rate] %>% rate, <%= @pre_graph[:arm51][:lender_credit] %> <%= @pre_graph[:arm51][:label] %><br/>
7 year ARM: <%= @pre_graph[:arm71][:rate] %>% rate, <%= @pre_graph[:arm71][:lender_credit] %> <%= @pre_graph[:arm71][:label] %> </p>

<p>Mortgage rates change frequently. Apply now to lock in these rates. You can find more details and apply here: <%= initial_quote_url(@rate_alert_user.code_id)%></p>

<p>If you have any issues or questions, please contact us at <a href="mailto:hello@mortgageclub.co?Subject=Re: Quote ID# <%= @rate_alert_user.code_id %>" target="_top">hello@mortgageclub.co</a>.</p>

<p>Thank you, <br/>
The MortgageClub Team
</p>
