<div class="login-form">
  <div class="loginPart signupPart content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal text-center"}) do |f| %>
            <h2 class="text-uppercase">log in</h2>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                <img src="/icons/username.png"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                <img src="/icons/password.png" />
              </div>
            </div>
            <div class="form-group">
              <% if devise_mapping.rememberable? %>
                <div class="col-md-6 col-xs-12 text-left">
                  <%= f.check_box :remember_me %>
                  <label class="customCheckbox" for="user_remember_me">Remember me</label>
                </div>
              <% end %>
              <div class="col-md-6 col-xs-12 text-right">
                <button class="text-uppercase theBtn" type="submit" value="sign up">Log in</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-left">
                <h5>
                  <%= link_to "Sign up", new_user_registration_path(resource) %>
                  |
                  <%= link_to "Forgot your password", new_password_path(resource) %>
                </h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    var elevator = new Elevator({
    element: document.querySelector('#backtopBtn'),
    duration:2000,
    });

    $('[data-toggle="tooltip"]').tooltip();
  })
</script>