<p>Hi <%= @first_name %>,<p>

<p>
  Thank you for choosing MortgageClub. We’re working hard to help close your loan on time!
</p>

<p>
  Your loan file was successfully submitted to the underwriting for approval. Their current turn time is 3 business days. We’ll let you know once we hear back from the underwriter. Our target closing date is <%= @closing_date.strftime("%m/%d/%Y") %>.
</p>

<p>If you have any issues or questions, please contact me at <a href="mailto:<%= @current_user.email %>"><%= @current_user.email %></a> or <%= ActionController::Base.helpers.number_to_phone @current_user.loan_member.phone_number %>.</p>

<%= @current_user.loan_member.email_signature.to_s.html_safe %>
