<!DOCTYPE html>
<html>
  <head>
    <title>MortgageClub</title>
    <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.png">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "/shared/header" %>
    <%= yield %>
    <%= render "/shared/footer" %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBreSL2fPdOr2c5bZjYN4XBnIJA8XSgWps&sensor=false&libraries=places"></script>


      <!--Start of Zopim Live Chat Script-->
      <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3IwFRUvO7g5aKeXHfmOIizwopJLjZAd6";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        $zopim.livechat.window.hide();
      </script>
      <!--End of Zopim Live Chat Script-->





    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

    <script type="text/javascript">
      $(document).ready(function(){
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.cd-top').fadeIn();
        } else {
            $('.cd-top').fadeOut();
        }
    });
    //Click event to scroll to top
    $('.cd-top').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
});
      google.charts.load("current", {packages:["corechart"]});

    </script>
  </body>
</html>
