<!DOCTYPE html>
<html>
  <head>
    <title>MortgageClub</title>
    <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.png">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css"/>
  </head>
  <body class="stretched">
    <%= render "/shared/header_new" %>
    <%= yield %>
    <%= render "/shared/footer_new" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBreSL2fPdOr2c5bZjYN4XBnIJA8XSgWps&sensor=false&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= render "/shared/zopim" %>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
    </script>
  </body>
</html>
