<!DOCTYPE html>
<html>
  <head>
    <title>MortgageClub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="images/favicon.ico"> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container flashSection">
      <%= flash_messages %>
    </div>
    <% if dev_infographics_page? %>
      <%= render "/shared/simple_header" %>
    <% else %>
      <%= render "/shared/header" %>
    <% end %>
    <%= yield %>
    <% unless dev_infographics_page? %>
      <%= render "/shared/footer" %>
    <% end %>

    <% if Rails.env.production? %>
      <!--Start of Zopim Live Chat Script-->
      <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3IwFRUvO7g5aKeXHfmOIizwopJLjZAd6";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
      </script>
      <!--End of Zopim Live Chat Script-->
    <% end %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBreSL2fPdOr2c5bZjYN4XBnIJA8XSgWps&sensor=false&libraries=places"></script>
    <%= javascript_include_tag 'public', 'data-turbolinks-track' => false %>
  </body>
</html>
