<!DOCTYPE html>
<html>
<head>
  <title>MortgageClub</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Noscript for Facbook Pixel Code -->
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=971021386313588&ev=PageView&noscript=1"
      />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- <link rel="icon" href="images/favicon.ico"> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBreSL2fPdOr2c5bZjYN4XBnIJA8XSgWps&sensor=false&libraries=places"></script>

  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
</head>
  <body>
    <!-- <div class="container flashSection">
      <%= flash_messages %>
    </div> -->
    <% if dev_infographics_page? %>
    <%= render "/shared/simple_header" %>
    <% else %>
    <%= render "/shared/header" %>
    <% end %>

    <%= yield %>

    <% unless dev_infographics_page? %>
      <%= render "/shared/footer" %>
    <% end %>
    <%= javascript_include_tag 'public', 'data-turbolinks-track' => false %>
    <%= render "/shared/zopim" %>
  </body>
</html>
